*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
      max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
body{
  background-image: url(/img/weather_img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: 
    fixed;
    letter-spacing: 0.2rem;
  font-size: 0.8rem;
  padding-top: 30px;
  height: 100%;
}
.bg{
  top: -60px;
  left: 35%;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(2, 37, 90);
}
.m{
backdrop-filter: 
  blur(4px);
  height: 554px;
  border-radius: 7px;
  position: relative;
  z-index: 2;
  margin-bottom: 73px;
}
.gmg{
  position: fixed;
  top: 0;

}
.overlay-div{
    top: 0;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(1, 23, 48);
}
.y{
  overflow-y: hidden;
}
.w{
  position: absolute;
  top: 320px;
  left: 35px;
  z-index: -3;
  font-size: 35px;
  border:  1px solid rgb(88, 149, 230);

}
.loding-img{
    position: fixed;
    right: 40%;
    bottom: 33%;
}
.hidden{
    display: none;
   
}
.title{
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.g{
  border-radius: 7px;
}
.card {
  border: 1px solid rgb(4, 6, 160);
  background-color: rgb(4, 156, 156);
  margin-top: 100px;
  color: rgb(190, 217, 253);
}

.icon {
  position: relative;
  top: -50px;
  background-color: #fff;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  left: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}

.create{
  position: relative;
  z-index: 2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(3, 29, 68);
  color: white;
  font-size: medium;
}
.gold{
  color: gold;
}